**scheduling**

vproc_sched
-----------
The local variable `sched_id` is initialised by the global `unique_id`
counter variable.  Where the regular virtual processor `vproc` calls `arch ! {read,write,execute}()` to execute the event on a processor, the
`vproc_sched` schedules an event by calling the `hwscheduler`:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~cpp
arch !! schedule_event(this, sched_id, vp_id, READ/WRITE/EXEC)
block(wakeup)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Here we show the call and the definition of `schedule_event` together
so we can see how the variables of the `vproc_sched` match with the
parameters of schedule_event:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~cpp
arch !! schedule_event(this, sched_id, vp_id, READ, chid, traceCommID(), traceSize())
schedule_event :      (src,  src_id,   vp_id, type, chid, vid, size: integer)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

hwscheduler
-----------
`schedule_event()` adds new event to the event queue.
The main loop gets all new events, lets the policy select one and
forwards it to the real processor.

Scheduling policies
-------------------
We currently have the following scheduling policies
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$ grep "subtypeof policy" *
custom1.ps:subtypeof policy_object
fcfs.ps:subtypeof policy_object
roundrobin.ps:subtypeof policy_object
static.ps:subtypeof policy_object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Variables and constants
-----------------------
sched_id
: The sched_id is a randomly assigned unique identifier and vp_id is a
  parameter assigned via YML that can be used in a static schedule or as
  a priority for scheduling.

vp_id
: A parameter defined in the application YML that is passed to the
  virtual processor by a YML processor. Identifies the virtual
  processor and could be used for dynamic priority based scheduling in
  the future.

MAX_EVENTS
: The size of the event queue.

event_q
: A struct that contains all the properties of an event.  Defined in
  `glob_sched.pi`

ENDLOOP
: This identifier defined in `event.h` needs to match the `EndLoop`
  operation used to end a pattern. The operation is defined in the
  application yml as the property `operation:op_EndLoop`.

application yml scheduling information
--------------------------------------
For every task we specify the vp_id value:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~xml
    <property name="taskid" value="1"/>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

If the model uses static scheduling the application yml also needs to
define a global schedule:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~xml
  <!-- global static schedule -->
  <property name="globalschedule" value="1,2,3"/>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

architecture yml scheduling information
---------------------------------------
vproc_sched has a placeholder ID for the vp_id parameter:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~xml
  <property name="init" value="ID,trace,#&lt;vchannel&gt;"/>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
The VirtualLayerGenerator replaces the ID placeholder in the virtual
processor template vproc_sched with the taskid from the application
yml.

For a static schedule you also need to specify the 'globalschedule'
property in the application yml as shown above.  A local schedule for
every policy object is extracted from the global schedule based on
tasks that are mapped onto it.  A static policy object has an init
string with a place holder '-1' that is replaced by this local
schedule.

Statically scheduled tasks also needs to end their computation loop
with an `execute("op_EndLoop")` so the scheduler can detect the end of
the schedulable pattern.

Remarks
-------
* A policy object cannot be used by multiple `hwschedulers`, because the
  policy can have state (`rr_counter` in round robin) that is specific
  to a `hwscheduler`.
* `custom1` policy uses `src_id` as a priority. But that has a randomly
  assigned value. Shouldn't it be using the YML defined `vp_id` value?
  This looks like a bug, `custom1` should use vp_id instead of `src_id`.


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
