`app-lib.yml`
: ymleditor library of basic application components.

`buffered-bus`
: blabla 

`bus-bridge`
: WIP

`simple-no-comm`
: Two tasks mapped onto a single processor element.  Shows that
  execution without a scheduler alternates between the two tasks.

`stochastic-datasize-vchannel`
: vchannel implementation where the data size is stochastic variable
  with a normal distribution.

simple-power
: 

   simple-scheduling
   simple-scheduling-long
   simple-static-map-vchan
   simple-with-execute
   sobel-crossbar
   sobel-linebuf
   check-limit
   crossbar
   crossbar-rr
   crossbar-static
   h264-noc
   Makefile
   mjpeg
   mp3
   new_routing_lib.yml
   pearl-tests
   README.txt
   reply_and_return
   simple
   simple-3tasks
   simple-3tasks-pipeline
   simple-cross
   simple-multi-bus
   simple-multiple-instances
   simple-multiple-reads



<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
